.about-shared-content {
}
.about-data-user {
}
.about-field {
  width: 100%;
  margin: 0.5em;
  background: var(--light-color);
  border: 1.5px solid #cccccc;
  box-shadow: 0px 0px 21.5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #c2c2c2;
}
.about-data-phone {
  height: 33px;
}
.about-data-discription {
  height: 89px;
}

.about-image {
  width: 259px;
  height: 329px;
}

.about-data-agree-user {
  /* display: inline-block; */
  /* width: 265px;
  height: 25px; */
}
.about-submit-user {
  width: 103px;
  height: 24px;
  font-family: "Mulish";
  font-style: italic;
  font-weight: 200;
  font-size: 8px;
  line-height: 10px;
  background-color: var(--header-text);
  color: var(--light-color);
  border-radius: 3px;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
  border: none;
}
.about-submit-user:hover {
  color: var(--header-text);
  background-color: var(--light-color);
  transition: all 0.3s;
}
.about-agreement {
 
  width: 153px;
  height: 24px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: #a3a3a3;

  text-align: left;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media screen and (min-width: 768px) {
  .about-image {
    width: 40%;
    height: 42%;
  }
}
