.shared-footer-container {
  color: var(--light-color);
  background-color: var(--dark-color);
}

.shared-footer-menu {
  flex-direction: column;
  justify-content: center;
  column-count: 3;
}

.font-footer {
  color: var(--text-footer-color);
}
