.wrapper-main-content > {
  background: #e5e5e5;
}

/* --------img------- */
.main-content-background1 {
  display: none;
}

.main-content-background2 {
  display: inline-block;
  width: 211px;
  height: 318px;
  margin: 14px;
  border-radius: 6px;
  background: linear-gradient(
      180deg,
      #414141 -49.24%,
      rgba(65, 65, 65, 0) 120.35%
    ),
    linear-gradient(0deg, #65c466 0%, rgba(37, 137, 249, 0) 23.16%),
    url(../images/repair.jfif);
  filter: drop-shadow(0px 4.86428px 36.4821px rgba(0, 0, 0, 0.25));

  background-size: cover;
  background-position: top;
}
.main-content-background3 {
  display: none;
}

/* --------link------- */
.main-link-background1 {
}
.main-link-background2 {
}

@media screen and (min-width: 768px) {
  .main-content-background1 {
    display: inline-block;
    width: 170px;
    height: 250px;
    margin: 14px;
    border-radius: 6px;
    background: linear-gradient(
        180deg,
        #414141 -49.24%,
        rgba(65, 65, 65, 0) 120.35%
      ),
      linear-gradient(0deg, #65c466 0%, rgba(37, 137, 249, 0) 23.16%),
      url(../images/construction.jfif);
    filter: drop-shadow(0px 4.86428px 36.4821px rgba(0, 0, 0, 0.25));

    background-size: cover;
    background-position: top;
  }
  .main-content-background2 {
    width: 190px;
    height: 285px;
  }

  .main-content-background3 {
    display: inline-block;
    width: 170px;
    height: 250px;
    margin: 14px;
    border-radius: 6px;
    background: linear-gradient(
        180deg,
        #414141 -49.24%,
        rgba(65, 65, 65, 0) 120.35%
      ),
      linear-gradient(0deg, #65c466 0%, rgba(37, 137, 249, 0) 23.16%),
      url(../images/english.jfif);
    filter: drop-shadow(0px 4.86428px 36.4821px rgba(0, 0, 0, 0.25));

    background-size: cover;
    background-position: top;
  }
}
@media screen and (min-width: 1024px) {
  .main-content-background1,
  .main-content-background3 {
    width: 228px;
    height: 340px;
  }
  .main-content-background2 {
    width: 253px;
    height: 380px;
  }
}

@media screen and (min-width: 1336px) {
  .main-content-background1,
  .main-content-background3 {
    width: 276px;
    height: 412px;
  }
  .main-content-background2 {
    width: 307px;
    height: 462px;
  }
}

@media screen and (min-width: 1920px) {
  .main-content-background1,
  .main-content-background3 {
    width: 393px;
    height: 585px;
  }
  .main-content-background2 {
    width: 436px;
    height: 657px;
  }
}
