.shared-navigation {
  display: none;
}
.nav-list {
  text-align: center;
  overflow-x: scroll;
  white-space: nowrap;
}
.nav-list::-webkit-scrollbar {
  display: none;
}
.nav-list-item {
  display: inline-block;
}
.nav-list-item-link {
  padding: 1rem;
  text-transform: uppercase;
}

.image-menu::after {
  content: "";
  display: inline-block;
  background-image: url(../images/vector-menu.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 11px;
  margin-left: 0.5em;
}

.navigation-menu-line {
  border-bottom: 1.5px solid #c4c4c4;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .shared-navigation {
    display: block;
    margin: 0 auto;
  }
}
