/* --------img------- */
.scroll-content-left,
.scroll-content-right {
  display: none;
}

/* .scroll-pointer-left,
.scroll-pointer-right {
  display: inline-block;
  text-align: center;
} */

.scroll-content-center {
  /* display: inline-block;
  width: 211px;
  height: 318px;
  margin-top: 30px;
  border-radius: 6px;
  background: linear-gradient(
      180deg,
      #414141 -49.24%,
      rgba(65, 65, 65, 0) 120.35%
    ),
    linear-gradient(0deg, #65c466 0%, rgba(37, 137, 249, 0) 23.16%),
    url(../images/repair.jfif);
  filter: drop-shadow(0px 4.86428px 36.4821px rgba(0, 0, 0, 0.25));

  background-size: cover;
  background-position: top; */
}
.scroll-block-center {
  position: relative;
  text-align: center;
  width: 100%;
}
.scroll-image-center {
  width: 211px;
  height: 318px;
  border-radius: 6px;
  padding: 20px;
  background-image: linear-gradient(
      180deg,
      #414141 -15.76%,
      rgba(65, 65, 65, 0) 115.22%
    ),
    linear-gradient(359.99deg, #65c466 0.01%, rgba(37, 137, 249, 0) 30.83%);
  opacity: 0.7;
  object-fit: cover;
  background-position: top;
}
.scroll-img-cntr-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (min-width: 768px) {
  .scroll-image-center {
    width: 28%;
    height: 40%;
  }
}
@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1336px) {
}

@media screen and (min-width: 1920px) {
}
