.shared-service {
  padding: 1.5em;
}

.shared-service-header {
  font-family: "Trajan Pro 3";
  font-weight: 400;
  font-size: 1.5em;
  color: var(--header-text);
  padding: 1.5em;
}

.shared-service-description {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 1em;
  line-height: 1em;
  color: var(--text-color);
}
