:root {
  --accent-color: #cbd3dd00;
  --bg-color: #65c466;
  --light-color: #ffffff;
  --dark-color: #243246;
  --text-color: #414141;
  --text-footer-color: #959AA6;
  --row-visible-count: 2;
  font-size: 14px;
  font-family: "Mulish";
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.shared-font {
  font-style: italic;
}

.text-align-center {
  text-align: center;
}
.text-align-end {
  text-align: end;
}
.uppercase {
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper-main-content {
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) {
  :root {
    font-size: 16px;
  }
}
